{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true
  },
  "globals": {
      "React": true
  },
  "ecmaFeatures": {
      "jsx": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react/recommended"
  ]
  "plugins": [
      "react"
  ]
}
