.color-nav {
  background-color: transparent;
  border-color: transparent;
  font-family: cursive;
  position: sticky;
  top: 0;
}
.navbar-brand { color: white !important; padding-left:80px; }
.nav-link { color: white !important; }
.header{
  background: url("../assets/images/cat_header_pic_sm.jpg") center;
  padding-bottom: 350px;
 }

 .color-nav:hover { background-color:  white; }
 .navbar-brand:hover, .navbar-brand:focus {
   color: blue !important;
 }
 .nav-link:hover, .navbar-link:focus {
   color: blue  !important;
 }
