.skyRow {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  margin: auto;
  width: 50%;
}

.graph {
  padding-left: 10px;
  width: 100%;
}

.pic1 {
  border-radius: 20px;
  height: 85%;
  width: 85%;
}

.pic2 {
  border-radius: 20px;
  height: 110%;
  width: 110%;
  padding-bottom: 50px;
}

.text {
  padding-top: 50px;
}

p {
  color: white;
  font-family: sans-serif;
}
