.kittyRow {
  padding-top: 405px;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  margin: auto;
  width: 50%
}

.graph {
  padding-left: 10px;
  width: 100%;
}

.pic {
  border-radius: 20px;
  height: 90%;
  width: 90%;
}

p {
  color: white;
  font-family: sans-serif;
}
